@import "index.css";


#item_wrap
{
	
	min-width:1000px;
}

#item
{
	display:flex;
	justify-content:space-between;
	width:1000px;
}

#item_title
{
		
  
	width:1000px;
	border-bottom:2px solid black;
	margin-top:60px;
	margin-bottom:50px;
	font-size:50px;
}

#wrap
{
	display:flex;
	justify-content:center;
}