<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ItemMapper">
	
	<select id="getItemList" parameterType="hashMap" resultType="com.KimYoungKi.model.ItemModel">
	  SELECT * FROM(SELECT itemID,itemTitle,itemText,itemImage,itemCount,itemPrice,itemImageReal,itemCategory,ROW_NUMBER() OVER(ORDER BY itemID DESC) AS RNUM FROM Item WHERE itemCategory LIKE #{category} AND itemTitle LIKE #{search} ORDER BY itemID DESC)tmp WHERE RNUM &gt; #{a} AND RNUM &lt; #{b}
	 </select>
	 
	 
	 <select id="nextPage" parameterType="hashMap" resultType="com.KimYoungKi.model.ItemModel">
	  SELECT * FROM(SELECT itemID,itemTitle,itemText,itemImage,itemCount,itemPrice,itemImageReal,itemCategory,ROW_NUMBER() OVER(ORDER BY itemID DESC) AS RNUM FROM Item WHERE itemCategory LIKE #{category} AND itemTitle LIKE #{search} ORDER BY itemID DESC)tmp WHERE RNUM &gt; #{a} AND RNUM &lt; #{b}
	 </select>
	 
	 <delete id="delete" parameterType="String">
		DELETE FROM ITEM WHERE itemID = #{itemID}
	</delete>
	
	
	 <insert id="uploadItem" parameterType="com.KimYoungKi.model.ItemModel">
		INSERT INTO Item VALUES (#{itemID},#{itemTitle},#{itemText},#{itemImage},#{itemCount},#{itemPrice},#{itemImageReal},#{itemCategory})
	</insert>
	
	 <select id="getNext" resultType="Integer">
		SELECT itemID FROM Item ORDER BY itemID DESC LIMIT 1
	 </select>
	
	

</mapper>