
@import "reset.css";
@import "variables.css";
@import "index.css";


#content
{
    
	display:block;

}


.content_list {
  width:1000px;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:2px solid skyblue;
  border-radius:30px;
  padding:10px;
  margin-bottom:10px;
}

.content_list_code .content_list_date
{
	width:10%;
	white-space: nowrap; 
	text-overflow:ellipsis;
	
}

.content_list_title .content_list_writer
{
	width:30%;
	display:flex;
	justify-content:center;
	white-space: nowrap; 
	text-overflow:ellipsis;

}

#write
{
	background-color:rgba(0,0,0,0.2);
	border-radius:50%;
	position:fixed;
	bottom:20px;
	right:20px;
	padding:20px;
}

#write a
{
	color:black;
	
}

#nav_list a:last-child
{
	background-color:rgba(0,0,0,0.2)
}




